.main {
  display: flex;
  flex-direction: column;
  padding: 6rem 25rem;
  min-height: 100vh;
  font-family: 'Pokemon Generation 1';
}

.list .copyButton {
  margin-left: 1rem;
}

.copyButton {
  background-color: rgb(68, 65, 65);
  border: 1px solid #000;
  color: #fff;
  padding: 0.3rem 1rem;
  margin: 0;
  font-weight: 500;
  font-family: 'Pokemon Generation 1';
}

.list {
  display: grid;
  grid-template-columns: repeat(1, minmax(33%, auto));
  width: fit-content;
  max-width: 100%;
  margin-bottom: 1.5rem;
}

.header {
  margin-bottom: 1.5rem;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.spritePreFix {
  margin-right: 0.5rem;
}

.row {
  display: flex;
}

.columnMain {
  flex: 85%;
  float: left;
}

.columnSecondary {
  flex: 15%;
  margin-top: 30%;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.5);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  /* .card:hover .spritePreFix {
    background: url('/public/pkm-icon-aquatic-hover.png');
    margin-right: 2rem;
  } */
}

/* Mobile and Tablet */
@media (max-width: 1060px) {
  .main {
    padding: 6rem 15rem;
  }
}

@media (max-width: 750px) {
  .main {
    padding: 6rem 10rem;
  }
}

@media (max-width: 580px) {
  .main {
    padding: 6rem 5rem;
  }
}

@media (max-width: 425px) {
  .main {
    padding: 6rem 2rem;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
